In [95]:
from tkinter.filedialog import askopenfilename
import pandas as pd
import docx
from docx import Document
import numpy as np
import re
from sklearn.preprocessing import LabelEncoder

In [167]:
df = pd.read_csv("vehicles_2.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    5000 non-null   int64
 1   id            5000 non-null   int64
 2   url           5000 non-null   object
 3   region        5000 non-null   object
 4   region_url    5000 non-null   object
 5   price         5000 non-null   int64
 6   year          4914 non-null   float64
 7   manufacturer  4681 non-null   object
 8   model         4928 non-null   object
 9   condition     2951 non-null   object
 10  cylinders     3136 non-null   object
 11  fuel          4893 non-null   object
 12  odometer      4961 non-null   float64
 13  title_status  4820 non-null   object
 14  transmission  4970 non-null   object
 15  VIN           3168 non-null   object
 16  drive         3261 non-null   object
 17  size          1351 non-null   object
 18  type          3762 non-null   object
 19  paint_color   3933 non-null   object
 20  image_url     4973 non-null   object
 21  description   4973 non-null   object
 22  county        0 non-null      float64
 23  state         5000 non-null   object
 24  lat           4933 non-null   float64
 25  long          4933 non-null   float64
 26  posting_date  4973 non-null   object
dtypes: float64(5), int64(3), object(19)
memory usage: 1.0+ MB

In [168]:
#droping columns
df=df.drop(["region_url","VIN","size","image_url","description","county","lat","long","posting_date"],axis=1)

In [169]:
#one hot encoding
df=pd.get_dummies(df, columns = ["region","manufacturer","fuel","transmission","drive","type","paint_color","state"])

In [61]:
def sp(x):
            try:
                return  x.split()[0]
            except: 
                print(None)
    
df["cylinders"]=df["cylinders"].apply(sp)

Index(['id', 'url', 'price', 'year', 'model', 'condition', 'cylinders',
       'odometer', 'title_status', 'region_anchorage / mat-su',
       'region_auburn', 'region_bellingham', 'region_birmingham',
       'region_dothan', 'region_el paso', 'region_erie', 'region_fayetteville',
       'region_florence / muscle shoals', 'region_florida keys',
       'region_gadsden-anniston', 'region_greensboro', 'region_hudson valley',
       'region_huntsville / decatur', 'region_la crosse',
       'region_medford-ashland', 'region_mobile', 'region_montgomery',
       'region_prescott', 'region_skagit / island / SJI'],
      dtype='object')

In [171]:
le=LabelEncoder()

In [170]:
set(df["condition"])

{'excellent', 'fair', 'good', 'like new', nan, 'new', 'salvage'}

In [172]:
le.fit()

TypeError: fit() missing 1 required positional argument: 'y'

In [102]:
df1["condition"]=le.fit_transform(df1["condition"])

In [166]:
df1["condition"].unique()

array([6, 2, 0, 1, 3, 4, 5])

In [147]:
def sp(x):
            try:
                return  x.split()[0]
            except: 
                print(None)
    
df["cylinders"]=df["cylinders"].apply(sp)